.recentMatchListItem {
  background-color: #0f172a;
  list-style-type: none;
  border-radius: 5px;
  margin: 15px;
  list-style-type: none;
  padding: 30px;
  text-align: center;
  height: 550px;
  width: 350px;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-family: Bree Serif;
}

.opponentTeamLogo {
  width: 250px;
  height: 250px;
}

.wonGameClass {
  color: #18ed66;
}

.lossGameClass {
  color: #e31a1a;
}
